.box1{margin-left: 300px;
    margin-right: 300px;
    background-color: white;
    margin-top: -20px;
    margin-bottom: 1000px;
}
.font1{text-indent: 20px;}
body{background-color: rgb(129, 129, 129);}
h1{
    background-color: aqua;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
    padding-bottom: 20px;
    padding-top: 20px;
}